# Kernel module build artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.o.d
*.cmd
.tmp_versions/
modules.order
Module.symvers
.module-common.o
*.unsigned

compile_commands.json
*.generated.h
mirilla-symbol.lst.preserve

.cache

# Backup files
*~
*.swp
*.swo

# Userspace integration test
test/mirilla-test

# Binary Ninja Databases
*.bndb

# Misc. helper scripts
*.helper.sh
